<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= @actor.year_of_birth %>
</p>

<p>
  <strong>Photo uri:</strong>
  <%= @actor.photo_uri %>
</p>

<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
